body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  background-color: black;
}
#enchant-stage{
  position: relative;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}